body {
    margin: 10%;
    background-color: #085e3a;
    color: black;
    font-weight: 100;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.main-header {
    font-weight: 100;
    font-size: 200%;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 10%;
    color: white;
    margin: 10%;
}

h2 {
    font-weight: 100;
    font-size: 200%;
    text-align: center;
    padding: 5%;
}

p {
    font-weight: 200;
    font-size: 120%;
}

#main-image {
  display: block;
  width: 90%;
  justify-self: center;
}

figure {
    margin: auto;
}

figcaption {
    padding: 1% 5%;
    
}



article {
    margin: 5%;
    padding: 5%;
    justify-self: center;
    background-color: beige;
}
